<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<!-- <strong>Ingredients</strong> -->
<%# @recipe.ingredients.each do |ingredient| %>
<%#= simple_format ingredient.name %>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

